<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        <h1>
          <%= link_to 'Number of Categories', new_admin_category_url, class: 'text-body' %>
        </h1>
      </th>
      <th>
        <h1>
          <%= link_to 'Number of Products', new_admin_product_url, class: 'text-body' %>
          
        </h1>
      </th>
    </tr>
  </thead>
  <tr>
    <th>
      <h1>
        <%= @category_total %>
      </h1>
    </th>
    <th>
      <h1>
        <%= @products_total %>
      </h1>
    </th>
  </tr>
</table>
