<br>
<table class="table table-bordered">
      <thead>
  <tr>
    <th>
      <h1>
        Number of Categories
      </h1>
    </th>
    <th>
      <h1>
        Number of Products
      </h1>
    </th>
  </tr>
  </thead>
  <tr>
    <th>
      <h1>
        <%= @category_total %>
      </h1>
    </th>
    <th>
      <h1>
        <%= @products_total %>
      </h1>
    </th>
  </tr>
</table>
